# Generate Map

> Class that generates the data map

In [ ]:
#| default_exp gen_map

In [ ]:
#| export
from nbdev.showdoc import *
from SolomonIslandsDataMap.load_data import *

## Load the geography data
>  Solomons islands geography data is organised at the levels
> - adm0 - The country as as whole, Solomon Islands
> - adm1 - Also referred to as the province e.g. Honiara, Malaita
> - adm2 - The Consituency e.g. Central Honiara
> - adm3 - Ward, the smallest geography I am reporting. E.g. Cruz

In [ ]:
#| export
class SolomonGeo:
    # TODO work out how to format this?
    # Look at nbdev docs maybe?
    '''
    Load the solomon islands geography data 
    Attributes:
        adm3    Geopandas dataframe containing admin 3 geographies.
    '''
    def __init__(self):
        repo = Repo('.', search_parent_directories=True)
        fp = str(repo.working_tree_dir) + "/testData/"
        self.adm3 = self.elt(fp)

    def elt(self, pw:str, # The pathway to the dataset
           )-> gp.GeoDataFrame: # The geojason dataset for given aggregation
        '''
        Load and transform given filepath into a geejason geopandas dataframe
        '''
        adm3 = gp.read_file('zip://' + pw + 'slb_admbnda_adm3.zip')
        adm3.to_file('myJson.geojson', driver='GeoJSON')
        # Need to set the index, currently using WID
        adm3 = adm3.set_index(adm3["SINSO_WID"].values)
        return adm3

In [ ]:
#| hide
show_doc(SolomonGeo)

---

[source](https://github.com/Gippers/SolomonIslandsDataMap/blob/main/SolomonIslandsDataMap/load_data.py#L31){target="_blank" style="float:right; font-size:smaller"}

### SolomonGeo

>      SolomonGeo ()

Load the solomon islands geography data
Attributes:
    adm3    Geopandas dataframe containing admin 3 geographies.

In [ ]:
# TODO, how can I tell people about the attributes?

## Load the Census data

In [ ]:
#| export
class SolomonCensus:
    '''
    Load the solomon islands census data 
    '''
    def __init__(self):
        repo = Repo('.', search_parent_directories=True)
        fp = str(repo.working_tree_dir) + "/testData/"
        self.data = self.elt(fp)

    def elt(self, pw:str, # The pathway to the dataset
           )-> pd.pandas: # Return the pandas dataset
        '''
        Load and transform data from filepath into pandas dataset
        '''
        df = pd.read_csv(fp + 'sol_census_2009_ward.csv')

        # TODO load all the files and merge them together?
        return df

In [ ]:
show_doc(SolomonCensus)

---

### SolomonCensus

>      SolomonCensus ()

Load the solomon islands census data

# Testing

In [ ]:
sol_geo = SolomonGeo()

In [ ]:
sol_geo.adm3.head()

,OBJECTID,SINSO_WID,ADM3_PCODE,ADM3_NAME,ADM2_PCODE,ADM2_NAME,ADM1_PCODE,ADM1_NAME,ADM0_PCODE,COUNTRY,SINSO_CID,SINSO_PID,geometry
1001,1,1001,SB1010431001,Nggosi,SB101043,West Honiara,SB10,Honiara,SB,Solomon Islands,1043,10,"POLYGON Z ((1104818.130 -1046772.426 0.000, 11..."
1002,2,1002,SB1010431002,Mbumburu,SB101043,West Honiara,SB10,Honiara,SB,Solomon Islands,1043,10,"POLYGON Z ((1107079.803 -1048040.379 0.000, 11..."
1003,3,1003,SB1010431003,Rove - Lengakiki,SB101043,West Honiara,SB10,Honiara,SB,Solomon Islands,1043,10,"POLYGON Z ((1106918.942 -1047270.637 0.000, 11..."
1004,4,1004,SB1010421004,Cruz,SB101042,Central Honiara,SB10,Honiara,SB,Solomon Islands,1042,10,"POLYGON Z ((1107949.631 -1047995.867 0.000, 11..."
1005,5,1005,SB1010421005,Vavaea,SB101042,Central Honiara,SB10,Honiara,SB,Solomon Islands,1042,10,"POLYGON Z ((1108708.612 -1047377.358 0.000, 11..."

In [ ]:
sol_census = SolomonCensus()
sol_census.data.head()

     id         ward_name  male_pop  female_pop  total_pop
0  1001            Nggosi      5240        4822      10062
1  1002          Mbumburu      1912        1713       3625
2  1003  Rove - Lengakiki      1464        1149       2613
3  1004              Cruz       125         107        232
4  1005            Vavaea      3788        3208       6996

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()